<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header">
<meta charset="utf-8" />
</head>

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<hr />
		<div class="row">
			<div class="alert alert-success" th:if="${updateSuccess}">
				<strong>Informations mises à jour</strong>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li class="active"><a class="no-under" href="#tab-1"
						data-toggle="tab"><span>Modifier</span></a></li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">

					<!-- Edit post information -->
					<div class="tab-pane fade in active" id="tab-1">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">
								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">


									<form th:action="@{/updatePost}" method="post"
										enctype="multipart/form-data">

										<input type="hidden" name="id" th:value="${post.id}" />

										<div class="form-group">
											<div class="row">
												<div class="col-xs-6">
													<label for="title">* Titre</label> <input type="text"
														required="required" class="form-control" id="title"
														name="title" th:value="${post.title}" />
												</div>

												<!-- <div class="col-xs-6">
													<label for="date">* Date</label> <input type="date"
														required="required" class="form-control" id="date"
														name="date" th:value="*{date}" />
												</div> -->
											</div>
										</div>									

										<div class="form-group">
											<label for="text">* Texte</label>
											<!-- <p th:utext="${post.text}"></p> -->
											<textarea rows="20" class="form-control editme" id="text" required="required"
												name="text" th:utext="${post.text}"></textarea>

										</div>
										
										<div class="form-group row">
											<div class="col-md-6">
												<label>Image actuelle :</label>
												<img th:if="${post.hasPicture}" class="img-responsive" alt="" th:src="@{'/user_resources/post/'+ ${post.id} +'.png'}"/>
												<img class="img-responsive" th:if="${!post.hasPicture}" th:src="${'/images/img0001.png'}"/>
											</div>
											<div class="col-md-6">
												<label for="picture">Changer l'image :</label>
												<input type="file"
												class="form-control" id="picture" name="picture"
												th:value="${post.picture}" />
											</div>
										</div>	
																		
										<br />
										<button type="submit" class="btn btn-primary pull-right">Valider</button>
									</form>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
