/* Main elements */

body {
	font-family: 'Muli', sans-serif;
}

header {
		text-align: center;
}

main {
	margin-top: 30px;
}

.container {
	width: 90%;
}
h2 {
	font-size: 1.7em;
	margin-top: 2px;
}

p {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
}

li {
	font-size: 16px;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

* {
    box-sizing: border-box;
}

td, th {
    border: 2px solid rgba(32,188,175, 1);
    text-align: center;
    padding: 8px;
}

td a {
    color: black;
}

/* Navbar */

.navbar-default {
    background-color: #c9d6d1;
    border-color: #c9d6d1;
    color: #747a78;
}
.navbar-default .navbar-nav > li  {
	border: solid 0.1px rgba(253, 253, 253, 0.1);
	border-radius: 3px;
}
.navbar-default .navbar-nav > li > a {
	color: black;
	text-decoration: none;
}


.navbar-default .navbar-nav li:hover {
   background-color: #aebab5;
   color: rgba(253, 253, 253, 0.9);
   border-top-color: #aebab5;
   border-bottom-color: #aebab5;
   border-radius: 3px;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 19px;
    background-color: #c9d6d1;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #aebab5;
    border-color: #aebab5;
}

.navbar-default .navbar-toggle {
	background-color: #c9d6d1;
    border-color: #aebab5;
}

nav ul li:before {
	content: "";
}

nav ul li {
	font-size: 20px
}

#home {
	width: 36%;
	margin: auto;
	text-align: left;
}

.navbar-brand {
	padding-top: 7px;
  	font-size: 18px;
  	float: left;
 	max-width: 160px;
}

/* Links */

a {
	text-decoration: underline;
}

.no-under {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
    color: #57402F;
}

a:visited {
	text-decoration: none;
    color: #57402F;
}

a:focus {
	text-decoration: none;
    color: #57402F;
}


/* Custom */

hr {
	border: none;
	height: 0.15em;
	color: #747a78;
	background-color: #747a78;
}

/* Buttons */

.btn-default {
	background-color: #00FAA0;
	border-color: #07c480;
}

.btn-default:hover {
	background-color: #07c480;
   	border-color: #07c480;
}

.btn-default:active {
	background-color: #07c480;
   	border-color: #07c480;
}

.btn-default:focus {
	background-color: #07c480;
   	border-color: #07c480;
}

.btn-default:visited {
	background-color: #07c480;
   	border-color: #07c480;
}

.btn-twitter
{
	border-radius: 50%; width:32px; height:32px; line-height:18px;	
	background-color : #0084b4;
}

.btn-facebook
{
	border-radius: 50%; width:32px; height:32px; line-height:18px;
	background-color: #3B5998;
}

.btn-linkedin
{
	border-radius: 50%; width:32px; height:32px; line-height:18px; 
	background-color: #0077B5;
}

.fa-twitter, .fa-facebook, .fa-linkedin {
	color: white;
}
