/* Main elements */

body {
    word-wrap: break-word;
    height: 100%;
}


/* #index_page {
	background-image: url("../images/lyon2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
} */

header {
    text-align: center;
}

main {
    margin-top: 30px;
    height: 100%;
}

.container {
    width: 90%;
    margin-top: 2em;
    height: 100%;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-top: 2px;
}


/* @media (min-width: 768px) {
    h2 {
        font-size: 2.7em;
    }
} */

h3 {
    font-size: 1.6em;
    margin-top: 2px;
}

p {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    padding: 0.7em;
}

li {
    font-size: 1.2em;
}


/* li:before {
	content: "�  ";
	color: #57402F;
} */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

td,
th {
    border: 2px solid rgba(32, 188, 175, 1);
    /*rgba(0,206,209,1);*/
    text-align: center;
    padding: 8px;
}

td a {
    color: black;
}


/* Navbar */

.navbar-default {
    background-color: #00CEC1;
    border-color: #00CEC1;
    color: #747a78;
}

.navbar-default .navbar-nav>li:not(.social) {
    border: solid 0.1px rgba(253, 253, 253, 0.1);
    border-radius: 3px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    text-decoration: none;
}

.navbar-default .navbar-nav>li.social>a {
    display: block;
}

.navbar-default .navbar-nav>li.social {
    display: block;
    height: 50px;
}

.nav>li.social>a {
    padding: 0;
}

.nav>li.social>a {
    padding: 0;
}

@media (min-width: 768px) {
    .navbar-nav>li.social>a {
        padding: 0;
    }
}

.navbar-default .navbar-nav>li>a>img {
    vertical-align: middle;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: black;
    text-decoration: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #00FAA0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #B5E5D1;
    background-color: #00FAA0;
    border-color: #00FAA0;
}

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
    border-top-color: black;
    border-color: black;
    color: rgba(243, 243, 243, 0.7);
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #00FAA0;
    color: black;
    border-top-color: #00FAA0;
    border-bottom-color: #00FAA0;
    border-radius: 3px;
}

.navbar-default .navbar-nav>li.social>a:hover {
    background-color: #00CEC1;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #00FAA0;
    color: black;
    border-top-color: #00FAA0;
    border-bottom-color: #00FAA0;
    border-radius: 3px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(253, 253, 253, 0.9);
    background-color: #00FAA0;
    border-color: #00FAA0;
}

.navbar-default .navbar-brand>a:hover,
.navbar-default .navbar-brand>a:focus {
    color: rgba(253, 253, 253, 1);
    color: rgba(253, 253, 253, 1);
}

.navbar-default .navbar-nav>li:not(.social)>a {
    color: white;
    font-size: 1em;
    background-color: #00CEC1;
}

nav-link {
    color: white;
    font-size: 19px;
    background-color: #00CEC1;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #00CEC1;
    border-color: white;
}

.navbar-default .navbar-toggle {
    background-color: #00CEC1;
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

nav ul li:before {
    content: "";
}

nav ul li {
    font-size: 20px
}

#home {
    width: 85%;
    margin: auto;
    text-align: left;
}

.navbar-brand {
    padding-top: 7px;
    font-size: 18px;
    float: left;
    max-width: 160px;
}

#lang {
    color: white;
}

#index_title {
    padding-bottom: 20px;
    font-size: 2em;
}


/* Links */

a {
    text-decoration: underline;
}

.no-under {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #00FAA0;
}

a:visited:not(.btn-index) {
    text-decoration: none;
    color: #555958;
}

a:focus {
    text-decoration: none;
    color: #57402F;
}


/* Custom */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.tables {
    border: solid, rgba(0, 206, 209, 1), 1px;
    border-collapse: collapse;
}

.box {
    border: 2px solid rgba(32, 188, 175, 1);
    border-radius: 3px;
}

@media screen and (min-width: 900px) {
    .carousel-inner img {
        margin: auto;
    }
    .carousel {
        /* width:640px;
	  height:481px; */
        margin: auto;
    }
}

#logo {
    width: 70%;
}

hr:not(.star-light) {
    border: none;
    height: 0.15em;
    color: #747a78;
    background-color: #747a78;
}

#no-border {
    border: none;
}

.img-txt {
    position: relative;
    width: 100%;
}

.img-txt>h2 {
    position: absolute;
    top: 8em;
    left: 0.5em;
    width: 100%;
}

#yearbook {
    position: absolute;
    top: 13em;
    left: 0.5em;
    width: 100%;
}

.img-txt>h2>span {
    color: white;
    font: bold Helvetica;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    border-radius: 0.5em;
}


/* Buttons */

.btn-custom {
    background-color: #00FAA0;
    border-color: #07c480;
}

.btn-custom:hover {
    background-color: #07c480;
    border-color: #07c480;
}

.btn-custom:active {
    background-color: #07c480;
    border-color: #07c480;
}

.btn-custom:focus {
    background-color: #07c480;
    border-color: #07c480;
}

.btn-custom:visited {
    background-color: #07c480;
    border-color: #07c480;
}

.btn-search {
    background-color: #fff;
    border-color: #ccc;
}

.btn-index {
    background-color: rgba(0, 206, 193, 0.85);
    padding: 0.4em;
    border: solid 0.5px white;
    color: white;
    border-radius: .2em;
    font-size: 1.6em;
}

.btn-index:hover,
.btn-index:focus {
    color: white;
    background-color: rgba(0, 206, 193, 1);
}

input[type="checkbox"] {
    width: 1em;
    /*Desired width*/
    height: 1em;
    /*Desired height*/
}


/* Cards */

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 1em;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 1em;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 1.1em;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #e5dada;
    min-height: 550px;
    max-width: 400px;
    min-width: 270px;
}

.card.hovercard .cardheader {
    /*background: url('../images/texture.jpg');
    background-size: cover;*/
    background-color: #00CEC1;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.profilePic {
    top: -50px;
    margin-bottom: -50px;
}

.profilePic img {
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    /* overflow: hidden; */
    font-size: 1.2em;
    /* line-height: 20px; */
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn-twitter {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px;
    background-color: #0084b4;
}

.btn-facebook {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px;
    background-color: #3B5998;
}

.btn-linkedin {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px;
    background-color: #0077B5;
}

.btn-website {
    border-radius: 50%;
    height: 32px;
    line-height: 18px;
    width: 34px;
    font-size: 12px;
    background-color: #0f9da8;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: bottom;
}

.fa-twitter,
.fa-facebook,
.fa-linkedin,
.fa-laptop {
    color: white;
}

.social {
    padding: 0.5em
}

@media only screen and (max-width: 500px) {
    #calendarWidget {
        height: 300px;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        margin: 0;
    }
    #updateForm {
        padding: 0;
        margin: 0;
    }
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin: 0;
    }
}

@media only screen and (min-width: 1450px) {
    .userCard {
        width: 330px;
    }
}

.post-title {
    font-size: 1.5em;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #272828;
}

.post-meta {
    padding: 0.7em 0em 0.7em 0em;
}

.post-meta p {
    padding: 0.7em 0em 0.7em 0em;
}

.grey-back {
    background: #efe8e8;
}

.subheading {
    font-size: 1.8em;
}

.no-margin-top {
    margin-top: 0;
}

.font-text {
    font-size: 16px;
}

.and-box {
    height: 34px;
    width: 20px;
    padding-left: 0;
    padding-right: 0;
    color: gray;
}

.grey {
    color: #737373;
}

#noContact {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.btn-contact {
    background-color: #a5b6b7;
    padding: 0.4em;
    border: solid 0.5px #909fa0;
}

.login-panel {
    border: none;
}

.form-legend {
    color: #828282;
    font-size: 1em;
}

.panel-style {
    background-color: #ededed;
    margin-top: 20px;
}

.emphasis {
    font-size: 1.2em
}

.red {
    color: red;
}

#maincontent {
    padding: 0em 2em 2em 2em;
}

.back-arrow {
    margin-left: -4em;
    text-align: left;
}

.green-back {
    background-color: #00CEC1;
}

.no-margin {
    margin: 0;
}

.full-width {
    width: 100%;
}

.white-back {
    background-color: white;
}

#team {
    padding: 1em;
}

.profilePicCol {
    min-height: 431px;
}

.skills {
    font-size: 1.5em;
}

.team-member p {
    padding: 0em;
}

.no-margin-bottom {
    margin-bottom: 0;
}

@media all and (max-device-width: 480px) {
    .intro-header {
        min-height: 330px;
    }
    .post-title h1 {
        font-size: 1.2em;
    }
}

#calendarWidget {
    min-height: 560px;
}

@media (min-device-width: 768px) and (max-device-width: 970px) {
    .intro-header {
        min-height: 330px;
    }
    .post-title h1 {
        font-size: 1.2em;
    }
}

.post-heading h1 {
    font-size: 1.2em;
    color: white;
}

.post-heading span {
    font-size: 1em;
    color: white;
    text-transform: none;
    font-weight: normal;
}

.footer {
    color: black;
    text-align: center;
    padding: 1.2em;
    size: 1.2em
}

.blackText {
    color: black;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    header {
        display: block;
        clear: both;
    }
    .margin-mobile {
        margin-bottom: 0.4em;
    }
}

@media (max-width: 1078px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.infoBox {
    text-align: center;
    background-color: #ddd;
    border: 1px solid rgba(119, 123, 121, 0.9);
    margin-bottom: 3em;
    text-align: center;
    padding: 0.3em;
    font-weight: bold;
    border-radius: 10px;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #ddd;
    border-color: rgba(119, 123, 121, 0.5);
    color: rgba(119, 123, 121, 0.9);
}

.pagination>li>a,
.pagination>li>span {
    color: rgba(119, 123, 121, 1);
}

@media(min-width: 985px) {
    .filter-box {
        padding: 0;
        margin-left: -0.5em;
    }
}

.margin-top {
    margin-top: 1.5em;
}

.btn-block {
    overflow: hidden;
    margin-top: 0.5em;
}

.btn-default {
    margin-top: 0.5em;
}

span.multiselect-native-select {
    position: relative
}

span.multiselect-native-select select {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px -1px -1px -3px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
    left: 50%;
    top: 30px
}

.multiselect-container {
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.multiselect-container .input-group {
    margin: 5px
}

.multiselect-container>li {
    padding: 0
}

.multiselect-container>li>a.multiselect-all label {
    font-weight: 700
}

.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700
}

.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer
}

.multiselect-container>li>a {
    padding: 0
}

.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 0 3px 30px
}

.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox {
    margin: 0
}

.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 5px
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}

.filter-label {
    color: #555958;
    margin-bottom: 0.5em;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    color: grey;
    /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading>h4>a {
    text-decoration: none;
    color: #737373;
}

.panel-heading>h4>a:visited {
    text-decoration: none;
    color: #737373;
}

.panel-heading>h4>a:hover {
    text-decoration: none;
    color: #737373;
}

.panel-heading>h4>a:active {
    text-decoration: none;
    color: #737373;
}

.panel-heading>h4>a:focus {
    text-decoration: none;
    color: #737373;
}

#directorySubmit {
    text-align: center;
}

#directoryReset {
    text-align: center;
}

.fa-user {
    margin-left: 10px;
}

header .container {
    padding-top: 50px;
    padding-bottom: 0px;
}

@media(min-width: 1600px) {
    header .container {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

#portfolio {
    padding: 0;
}

section>h2 {
    font-size: 2em;
}

.caption-content>p {
    font-weight: bold;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    margin-bottom: -50px;
}


/* .no-video .video-container video,
.touch .video-container video {
    display: none;
} */

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 91%;
    width: 100%;
    overflow: hidden;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    /* bottom: 0; */
}

.video-container video.fillWidth {
    width: 100%;
}

.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.intro-text .name {
    font-size: 4.5em;
}

@media(max-width: 450px) {
    .intro-text .name {
        font-size: 3em;
    }
    .btn-index {
        font-size: 1.3em;
    }
}

.headline {
    display: inline-block;
    border-radius: 7px;
    color: #fff;
}

.scroll-invitation {
    z-index: 1002;
    position: absolute;
    top: 92%;
    width: 100%;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.6);
    height: 8%;
}

.scroll-icon {
    color: grey;
}

.vertical-align {
    display: flex;
    align-items: center;
}